.pagination {
  height: 30px;
  margin-top: 50px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      float: left;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      text-align: center;
      color: #778087;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
      cursor: pointer;
      &:nth-child(1) {
        border-left: 1px solid #dddddd;
        border-radius: 5px 0 0 5px;
      }
      &:nth-last-child(1) {
        border-radius: 0 5px 5px 0;
      }
      &.active {
        color: #8fbd01;
        font-weight: bold;
      }
    }
  }
}
